@using WebProject.Models
@{
    Layout = null;
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-image:url(https://r-cf.bstatic.com/images/hotel/max1024x768/119/119673250.jpg); height: 100%; background-position:center; background-repeat: no-repeat; background-size: cover">
    <form action="/Admin/EditAdmin" method="post">
        <table border="0" style="background-color:transparent" class="w3-text-white w3-display-center w3-large">
            <tr>
                <td>
                    Username
                </td>
                <td>
                    <input type="text" value="@(((User)Session["LogedAdmin"]).Username)" name="Username">
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input required type="password" name="Password">
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input type="text" value="@(((User)Session["LogedAdmin"]).Name)" name="Name">
                </td>
            </tr>
            <tr>
                <td>
                    Surname
                </td>
                <td>
                    <input type="text" value="@(((User)Session["LogedAdmin"]).Surname)" name="Surname">
                </td>
            </tr>
            <tr>
                <td>
                    Gender
                </td>
                <td>
                    <select name="Gender">
                        @if ((((User)Session["LogedAdmin"]).Gender) == Gender.Male)
                        {
                            <option selected value="Male">
                                Male
                            </option>
                            <option value="Female">
                                Female
                            </option>
                        }
                        else
                        {
                            <option value="Male">
                                Male
                            </option>
                            <option selected value="Female">
                                Female
                            </option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Role
                </td>
                <td>
                    <select name="Role">
                        <option value="Guest">
                            Guest
                        </option>
                        <option value="Host">
                            Host
                        </option>
                        <option selected value="Admin">
                            Admin
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Save changes" style="background-color:transparent; border:none" class="w3-text-white w3-hover-aqua" />
                </td>
            </tr>
        </table>
    </form>



</body>





