@using WebProject.Models
@{
    Layout = null;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-image:url(https://r-cf.bstatic.com/images/hotel/max1024x768/119/119673250.jpg); height: 100%; background-position:center; background-repeat: no-repeat; background-size: cover">
    <div class="w3-bar w3-border w3-transparent w3-border-black">
        <a href="/Admin/Logout" class="w3-bar-item w3-button w3-right w3-text-blue"> Log out </a>
        <a href="/Admin/ShowGuests" class="w3-bar-item w3-button w3-right w3-text-blue"> Show all guests </a>
        <a href="/Admin/GoToAddHost" class="w3-bar-item w3-button w3-right w3-text-blue"> Add host </a>
        <a href="/Admin/Edit" class="w3-bar-item w3-button w3-right w3-text-blue"> Change profile </a>
    </div>
    <h2 class="w3-text-blue w3-center">Welcome, @(((User)Session["LogedAdmin"]).Name) @(((User)Session["LogedAdmin"]).Surname)</h2>



</body>